<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jobagentUrlAppStore</key>
	<string>https://itunes.apple.com/ag/app/job-agent/id517622797?mt=8</string>
	<key>kAllowTracking</key>
	<true/>
	<key>kGaDispatchPeriod</key>
	<integer>10</integer>
	<key>kGaPropertyId</key>
	<string>UA-30717261-1</string>
	<key>adUnitID</key>
	<string>a14f6e8f0c6d11b</string>
	<key>tipsUrl</key>
	<string>http://brisksoft.us/jobagent/tips.json</string>
	<key>apiDomainProd</key>
	<string>http://brisksoft.heroku.com</string>
	<key>apiDomainDev</key>
	<string>http://localhost:8888</string>
	<key>searchUrl</key>
	<string>/getjobs?location=&lt;location&gt;&amp;kw=&lt;kw&gt;&amp;v=1&amp;country=&lt;country&gt;&amp;max=&lt;max&gt;&amp;age=&lt;age&gt;&amp;distance=&lt;distance&gt;</string>
</dict>
</plist>
